asgiref==3.7.2
astroid==2.15.8
atomicwrites==1.4.1
attrs==23.1.0
certifi==2022.12.7
charset-normalizer==2.0.12
colorama==0.4.6
Django==4.2.1
django-debug-toolbar==3.2.4
djangorestframework==3.14.0
Faker==12.0.1
flake8==6.1.0
flake8-django==1.4
flake8-polyfill==1.0.2
flake8-print==5.0.0
idna==3.4
iniconfig==2.0.0
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
mixer==7.1.2
packaging==23.1
Pillow==8.3.1
pluggy==0.13.1
py==1.11.0
pycodestyle==2.11.1
pyflakes==3.1.0
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3
requests==2.26.0
six==1.16.0
sorl-thumbnail==12.7.0
sqlparse==0.4.4
toml==0.10.2
typing_extensions==4.6.2
tzdata==2023.3
urllib3==1.26.15
wrapt==1.16.0
