{% extends 'base.html' %}
{% block title %}
  Технологии
{% endblock %}
{% block content %}
<div class="container py-2">
  <div class="row">
    <h1>Технологии использованные при создании сайта:</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <p class="lead">
            Язык програмирования <strong>Python v.3.9.10</strong>
          </p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <p class="lead">
            Фреймворк <strong>Django v.2.2.19</strong>
          </p>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p class="lead">
        За последние несколько десятков лет всемирная "паутина" под названием "интернет" развилась в огромных масштабах. Это дало людям бескрайние возможности для сетевого маркетинга и заработка.<br>
        Сегодня в интернете можно найти огромное количество сайтов разнообразных тематик: информационные, рекламные, сервисы, бизнес-сайты и т.д. Каждый из них имеет свое предназначение. Веб-сайтам уделяют большое внимание, практически каждая крупная компания обладает собственным. Это связанно с тем, что именно через интернет современные люди предпочитают искать и узнавать нужную информацию.
        По этим причинам многие хотят обзавестись собственным веб-инструментом, который смог бы дать новые возможности для развития. <br>Создать собственный веб-сайт самостоятельно на первый взгляд очень просто, но на деле возникает много проблем. Поэтому самый рациональный вариант - заказать сайт здесь у профессиональных и опытных 
        <a href="{% url 'about:author' %}">веб-мастеров</a>.
      </p>
    </article>
  </div>
</div>
{% endblock %}
